.profile__items {
  display: flex;
  flex-direction: column;
  max-width: 1015px;
  margin-left: 89px;
}

.profile__new-clothes {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.profile__clothes-section {
  display: flex;
  align-items: center;
  max-width: 1015px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.profile__add-clothes-button {
  background-color: #fff;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.profile__add-clothes-button:hover {
  background: #00000099;
  color: #fff;
  border-radius: 5px;
}
