.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 1360px;
  max-height: 40px;
  margin: 32px 0px 28px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-avatar-image {
  max-height: 40px;
  max-width: 40px;
}

.header__clothes-add-button {
  background-color: #fff;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.header__clothes-add-button:hover {
  background: #00000099;
  color: #fff;
  border-radius: 5px;
}

.header__logo-image:hover {
  background-color: #00000099;
  border-radius: 5px;
}
