.card__section-image {
    max-width: 326px;
    max-height: 323px;
    border-radius: 10px;
  }
  
  .card__name {
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
  }
  
  .card__items {
    display: flex;
    column-gap: 21px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 34px;
  }
  
  