.image__preview-content {
  width: 496px;
  height: 610px;
  flex-shrink: 0;
  padding: 20px;
  flex-shrink: 0;
}
.image__preview {
  width: 498px;
  height: 498px;
  border-radius: 10px 20px 0px 0px;
}

.image__preview-name {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  margin-top: 20px;
}

.image__preview-weather {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12px;
}

.image__delete-button {
  color: #ff4d00;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 91px;
  right: 32px;
  border: none;
  background-color: #fff;
}

.image__delete-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
