.sidebar {
  display: flex;
  max-width: 229px;
  max-height: 56px;
  align-items: center;
  gap: 16px;
}

.sidebar__name {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  max-height: 25px;
  width: 229px;
}

.sidebar__logo-avatar {
  width: 56px;
  height: 56px;
}
