.App {
  max-width: 1440px;
 
}

.app__section {
  max-width: 1440px;
  padding: 0 40px;
}

.card__section {
  max-width: 1360px;
  margin-top: 40px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

